@import "../../main/variable.scss";

.aboutContainer {
  @include containerRule;
  @media (max-width: $mobilBreakPoint) {
  }
}

@media (max-width: 600px) {
  .introAbout {
    height: 223px;
    background-size: fill;
  }
}
.about {
  display: flex;
  flex-direction: column;
  row-gap: 33px;
  padding-bottom: 46px;
  min-height: 600px;
  @media (max-width: $mobilBreakPoint) {
    row-gap: 20px;
    margin-top: 20px;
  }
}
.aboutDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutSlideBar {
  display: flex;
  justify-content: space-between;
  width: 87%;
  height: 47px;
  background-color: rgb(255, 96, 96);
  font-size: 24px;
  align-items: center;
  color: white;
  border-radius: 5px;
  z-index: 3;
  @media (max-width: $mobilBreakPoint) {
    width: 100%;
    height: 30px;
  }
  :first-child {
    padding: 0px 16px 0px 16px;
  }
}
.aboutTitle {
  text-align: left;
  @media (max-width: $mobilBreakPoint) {
    font-size: 13px;
  }
}
.aboutTrigger {
  display: flex;
  align-items: center;
  cursor: pointer;
  @media (max-width: $mobilBreakPoint) {
    svg {
      width: 9px;
      height: 15px;
    }
  }
}
.aboutTextDescription {
  width: 87%;
  background-color: #f7f7f7;
  border-radius: 5px;
  color: rgb(255, 96, 96);
  font-size: 24px;
  font-weight: 400;
  padding: 36px 27px 18px 18px;
  box-sizing: border-box;
  text-align: left;
  margin-top: -20px;
  z-index: 2;
  @media (max-width: $mobilBreakPoint) {
    width: 100%;
    font-size: 12px;
  }
}
